body {
  font-family: 'Open Sans', sans-serif;
}

/* navigation bar styles */

nav {
  background-color: #a3dee4;
  height: 50px;
  width: 100vw;
}

.icon-sect {
  position: absolute;
  left: 10px;
}

.icon {
  border-radius: 100%;
  height: 40px;
  padding: 5px;
  text-align: left;
  width: 40px;
}

.nav-word-sect {
 float: right;
}

.nav-word {
  color: white;
  display: inline-block;
  padding: 20px 15px;
}

/* page header style */

header {
  background-image: url(images/park.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100vw;
}

.header-sect {
  padding: 50px 0px;
}

.title-head {
  font-size: 25pt;
  margin: 0px auto;
  text-align: center
}

.main-dog {
  border-radius: 100%;
  border: 5px solid #528ca4;
  display: block;
  margin: 20px auto 10px auto;
}

.text-box {
  background-color: white;
  border: #528ca4 solid 5px;
  color: #528ca4;
  font-size: 14pt;
  height: 20px;
  margin: auto;
  padding: 5px;
  text-align: center;
  width: 130px; 
}

/* main page style */

main {
  height: 525px;
}

.three-dog-sect {
  margin: 50px auto 20px auto;
}

.col {
  float: left;
  height: 100%;
  width: calc(100%/3);
}

.dog-titles {
  text-align: center;
}

.good-dogs {
  border-radius: 100%;
  border: 3px solid #528ca4;  
  display: block;
  height: 225px;
  margin: 20px auto;
  width: 225px;
}

.para {
 margin: auto;
 text-align: center;
 width: 300px;
}

.bottom-boxes {
  margin: 20px auto;
  width: 120px;

}


/* page footer styles */

footer {
  background-color: #528ca4;
  height: 300px;
  text-align: center;
}

.social-sect {
  padding: 50px;
}

h4 {
  color: white;
}

.social-icons {
  padding: 50px 25px;
}

.linking {
  padding-bottom: 20px; 
  text-decoration: underline;
}