body {
  font-family: 'Open Sans', sans-serif;
}

/*nav styles*/

nav {
  background-color: #a3dee4;
  height: 50px;
  width: 100vw;
}

.icon-div {
  position: absolute;
  left: 10px;
}

.icon {
  border-radius: 100%;
  height: 40px;
  padding: 5px;
  text-align: left;
  width: 40px;
}

.nav-word-div {
 float: right;
}

.nav-word {
  color: white;
  display: inline-block;
  padding: 20px 15px;
}

/*header section style*/

header {
  background-image: url(images/park.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100vw;
}

.header-div {
  padding: 100px 0px;
}

h1 {
  text-align: center
}

.title-head {
  font-size: 30pt;
  margin: auto;
}

.main-dog {
  display: block;
  border-radius: 100%;
  border: 5px solid #528ca4;
  margin: 20px auto;
}

.text-box {
  text-align: center;
  height: 20px;
  width: 120px;
  background-color: white;
  border: #528ca4 solid 5px;
  color: #528ca4;
  margin: auto;
  
}

/*Begin style for main section of page*/

main {
  height: 450px;
}

.three-dog-div {
  margin: 100px 20px;
}

.col-one {
 float: left;
}

.dog-two {
}

.p-one {
  text-align: center;
}

.dog-titles {
  text-align: center;
  
}

.good-dogs {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 3px solid #528ca4;  
  display: block;
  margin: auto;
}

.para {
 width: 300px;
 magin: auto;
}

.bottom-boxes {
  
}

.col-three {
 float: right;
}

/*being footer styling*/

footer {
  background-color: #528ca4;
  height: 250px;
  text-align: center;
}

.social-div {
  padding: 50px;
}

h4 {
  color: white;
}

.text-bottom,
.social-icons {
  margin: 10px;
}

.linking {
  text-decoration: underline;
}